 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 664px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-elements-1 {
  width: 412px;
  min-height: 443px;
  height: auto;
  margin: -73px 0 0 auto;
}

.u-section-1 .u-shape-1 {
  --radius: 15px;
  width: 412px;
  height: 443px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 265px;
  height: 364px;
  --radius: 15px;
  margin: 11px auto 0 16px;
}

.u-section-1 .u-text-2 {
  line-height: 1.4;
  margin: 7px 16px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: -365px 444px 321px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-bottom: initial;
    width: auto;
    height: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: 244px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-3 {
    margin-right: 24px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-elements-1 {
    width: 340px;
  }
}